/* div {
    text-align: center;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: grid;
 
    grid-template-areas:
    "header header"
    "navigation content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background-color: rgb(50, 192, 50);
}

.header img {
    width: 40px;
}

.navigation {
    grid-area: navigation;
    background-color: rgb(36, 204, 72);
}

.profile {
    grid-area: content;
}

.profile_image img {
    width: 100%;
    height: 350px;
}